<%- include("partials/header.ejs") %>

  <div class="container my-5 mw-md-custom-forty" >
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <img src="assets/icons/ReadShelfLogo.jpg" class="mb-5" height="200px">
      <h1 class="text-body-emphasis mb-4">About Read Shelf</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        ReadShelf is a web application designed to help users track and manage a personal list of books they have read. Built with Node.js, Express.js, EJS, and a PostgreSQL database, ReadShelf integrates the Open Library Covers API to fetch and display book cover images based on user-provided book titles. The application supports full CRUD operations for book entries, enabling users to add new books, view their reading list, edit book details, and remove books.      </p>
    </div>
  </div>

<%- include("partials/footer.ejs") %>